<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjdfzh.businessprocess.dao.ContactProjectMapper">
<resultMap type="com.bjdfzh.businessprocess.entity.ContactProject" id="ContactProjectMap"> 
<id column="projectid" property="id" /> 
<result column="contactid" property="contactid"  />  
<result column="projectnumber" property="projectnumber"  />  
<result column="reportcount" property="reportcount"  />  
<result column="projectstatus" property="projectstatus" />
 <result column="domain" property="domainlabel" />
 <result column="createdate" property="createdate"/>
 <result column="dispatchtime" property="dispatchtime" />
 <result column="dispatchroleid" property="dispatchroleid"/>
 <result column="dispatchuserid" property="dispatchuserid" />
 <association property="domain" javaType="com.bjdfzh.userprivilage.entity.CommonType">
   <id column="domainid" property="id"/> 
   <result column="domain" property="label"/>
 </association>  
 <collection property="samples" ofType="com.bjdfzh.businessprocess.entity.Sample">
    <id column="sampleid" property="id"/>
	<result column="projectctid" property="projectctid" />
	<result column="samplename" property="samplename" />
	<result column="samplenumber" property="samplenumber" />  
	<result column="samplequality" property="samplequality" />
	<result column="samplespec" property="samplespec" />
	<result column="samplevolume" property="samplevolume" /> 
	<result column="sampledate" property="sampledate" />
	<result column="manufactory" property="manufactory" />
	<result column="manufactoryaddress" property="manufactoryaddress" />
	<result column="purty" property="purty" />
	<result column="brand" property="brand" />
	<result column="manufactoryphone" property="manufactoryphone" />
	<result column="manudate" property="manudate" />
	<result column="manuno" property="manuno" />
	<result column="remark" property="remark" /> 
	<result column="price" property="price" />
	<result column="externprice" property="externprice" /> 
	<result column="stestproject" property="testproject" /> 
    <result column="smethodname" property="methodname" />
    <result column="executestandard" property="executestandard" />
    <result column="executegrade" property="executegrade" />
    <result column="wrapherproperties" property="wrapherproperties" />
    <result column="testtypeother" property="testtypeother" />
    <result column="processother" property="processother" />
    <result column="storeother" property="storeother" />
    <result column="statusother" property="statusother" />
    <result column="domainid" property="domainid"/> 
    <result column="deleverdate" property="deleverdate"/>
	<result column="specialcondition" property="specialcondition" />
    <result column="standardfee" property="standardfee" />
    <result column="avilabletime" property="avilabletime" /> 	 
	<result column="leftsamplequality" property="leftsamplequality" />
	<result column="expireddate" property="expireddate" />
      <association    property="store" javaType="com.bjdfzh.userprivilage.entity.CommonType" >
      <id column="storeid" property="id"/>
      <result column="storename" property="label"/>
      <result column="storetempreture" property="code" /> 
     </association>
      <association    property="status" javaType="com.bjdfzh.userprivilage.entity.CommonType" >
      <id column="statusid" property="id"/>
      <result column="statustype" property="label"/> 
     </association> 
     <association    property="process" javaType="com.bjdfzh.userprivilage.entity.CommonType" >
      <id column="processid" property="id"/>
      <result column="processtype" property="label"/> 
     </association>
	 <association    property="testtype" javaType="com.bjdfzh.userprivilage.entity.CommonType" >
      <id column="testtypeid" property="id"/>
      <result column="testtype" property="label"/> 
     </association> 
    <collection  property="testprojects" ofType="com.bjdfzh.businessprocess.entity.ContactTestProject">  
	     <id column="tpid" property="id" />  
		 <result column="sampleid" property="sampleid"/>
		 <result column="qualificationid" property="qualificationid"  /> 
		 <result column="tpisextern" property="isextern"/>
		 <result column="realprice" property="price"  />
		 <result column="testproject" property="testproject"  />
		 <result column="methodname" property="methodname"  />
		 <result column="standardname" property="standardname"/>
		 <result column="outsitecustomerid" property="outsitecustomerid"  />
		 <result column="remark" property="remark"  /> 
		 <result column="realprice" property="realprice" />
		 <result column="testcount" property="testcount"/>
		 <result column="limitmax" property="limitmax"/>
		 <result column="limitmin" property="limitmin"/>
		 <result column="roleid" property="roleid"/>
		 <result column="userid" property="userid"/>
		 <result column="testprojectid" property="testprojectid"/>
		 <result column="standardid" property="standardid"/>
		  <result column="companyid" property="companyid" /> 
         <result column="companyname" property="companyname"/>
         <result column="limitvalue" property="limitvalue"/>
         <result column="judgementstandard" property="judgementstandard"/>
    </collection>
  </collection> 
</resultMap>
    <select id="getcontactprojects" parameterType="map" resultMap="ContactProjectMap">
    select 
		contactid
		,t.projectid
		,td.dispatchtime
		,td.dispatchroleid
		,td.dispatchuserid
		,projectnumber 
		,reportcount 
		,domainid
		,t.createdate
		,tsd.label domain 
		,projectstatus
    ,ts.sampleid 
    ,ts.standardfee
    ,tstand.standardname
    ,tqf.standardid
    ,tqf.testprojectid
    ,ts.deleverdate
    ,company.companyname
    ,company.id companyid
		,ts.specialcondition
		,ts.samplename
		,ts.samplenumber 
		,ts.samplequality
		,ts.samplespec
		,ts.samplevolume 
		,ts.sampledate
		,ts.manufactory
		,ts.manufactoryaddress
		,ts.purty
		,ts.brand
		,ts.manufactoryphone
		,ts.manudate
		,ts.manuno
		,ts.remark
		,ts.avilabletime 
		 ,ts.leftsamplequality 
		 ,ts.expireddate 
		,ts.price
		,ts.externprice
		,ts.processid,ts.processtype,ts.testtypeother
		,ts.testtypeid,ts.testtype,ts.processother
		,ts.storeid,ts.storename,ts.storetempurature,ts.storeother
		,ts.statusid,ts.statustype,ts.statusother
		,ts.wrapherproperties
		,ts.executestandard,ts.executegrade
		,ts.testproject stestproject
		,ts.methodname smethodname 
	  ,tp.id tpid  
		,tp.qualificationid
		,tp.outsitecustomerid
		,tp.realprice
		,tp.isextern tpisextern
		,tp.limitmax
		,tp.limitmin
		,tp.limitvalue
		,tp.judgementstandard
		,tp.testcount
	  ,tc.testproject
	  ,tm.methodname
		,tqr.roleid
		,tqr.userid
	from t_business_project t 
	left join t_business_project_dispatch td
	on td.projectid=t.projectid 
	left join t_sample_domain tsd
	on tsd.id=t.domainid
	left join (
	  select
		ts.sampleid 
		,ts.projectid
		,ts.wrapherproperties
		,ts.standardfee
		,ts.deleverdate
		,ts.specialcondition
		,samplename
		,samplenumber 
		,samplequality
		,samplespec
		,samplevolume 
		,sampledate
		,tp.customername manufactory
		,tp.customeraddress manufactoryaddress
		,purty
		,brand
		,tp.phone manufactoryphone
		,manudate
		,manuno
		,ts.remark
		,avilabletime 
		 ,leftsamplequality 
		 ,expireddate 
		,price
		,tm.testproject
		,tm.methodname
		,externprice
	  ,ts.testtypeid
	  ,t.testtype
	  ,ts.testtypeother
		,ts.storeid,tstore.storetempurature
		, tstore.storename,ts.storeother
		 ,ts.processid
		 ,  tprocess.sampleprocess   processtype
		 ,ts.processother
			,ts.statusid 
			, tsttus.statustype  statustype
			,ts.statusother
		  ,ts.executestandard
			,ts.executegrade
		 from t_sample ts
		 left join 
		 (
		    select tproject.projectid, tcu.customername,tcu.customeraddress,tcu.phone from t_contact_customer tc 
				 inner join t_customer tcu
				 on tcu.id=tc.customerid
				 inner join t_business_project tproject
				 on tproject.contactid=tc.contactid
				where customertype=3
				
		 ) tp
		 on tp.projectid=ts.projectid
		 left join
		 (
		  select
			 t.sampleid,
			GROUP_CONCAT(tc.testproject) testproject,
			GROUP_CONCAT(tstand.standardname) methodname
			from t_test_project t
			inner join t_qualification tq
			on tq.id=t.qualificationid
			inner join t_test_category tc
			on tc.id=tq.testprojectid
			left join t_test_standard tstand
	         on tstand.id=tq.standardid
			group by  t.sampleid
		 ) tm
		 on   tm.sampleid=ts.sampleid
		 left join t_test_type t
		 on t.id=ts.testtypeid
		 left join t_sapmple_store_type tstore
		 on tstore.id=ts.storeid
		 left join t_sample_process_type tprocess
		 on tprocess.id=ts.processid
		 left join t_sapmle_status_type tsttus
		 on tsttus.id=ts.statusid
	 ) ts
	on ts.projectid=t.projectid  
	left join t_test_project tp
	on tp.sampleid=ts.sampleid
	left join t_qualification tqf
	on tqf.id=tp.qualificationid
	left join t_qualification_company company
	on company.id=tqf.companyid
	left join 
						( 
					 select 
					 tq.qualificationid,roleid,userid
					 from
					 (
				   select qualificationid from  t_qualificaiton_dispatch group by qualificationid
					 ) tq
				  left join
					(
					select t.qualificationid,t.typeid roleid  from t_qualificaiton_dispatch t
					where t.datatype=1
					) tqr
				   on tqr.qualificationid=tq.qualificationid
					  left join
					(
					select t.qualificationid,t.typeid userid  from t_qualificaiton_dispatch t
					where t.datatype=2
					) tqu
				   on tqu.qualificationid=tq.qualificationid 
					)tqr
				  on tqr.qualificationid=tqf.id
	left join t_test_category tc
	on tc.id=tqf.testprojectid
	left join t_test_method tm
	on tm.id=tqf.methodid
	left join t_test_standard tstand
	on tstand.id=tqf.standardid
		 where  contactid=#{contactid} and  t.projectstatus !=-1
		 limit #{start},#{end}
    </select>
     <select id="getcontactproject" parameterType="string" resultMap="ContactProjectMap">
    select 
		contactid
		,t.projectid
		,td.dispatchtime
		,td.dispatchroleid
		,td.dispatchuserid
		,projectnumber 
		,reportcount 
		,domainid
		,t.createdate
		,tsd.label domain 
		,projectstatus
    ,ts.sampleid 
    ,ts.standardfee
    ,tstand.standardname
    ,tqf.standardid
    ,tqf.testprojectid
    ,ts.deleverdate
    ,company.companyname
    ,company.id companyid
		,ts.specialcondition
		,ts.samplename
		,ts.samplenumber 
		,ts.samplequality
		,ts.samplespec
		,ts.samplevolume 
		,ts.sampledate
		,ts.manufactory
		,ts.manufactoryaddress
		,ts.purty
		,ts.brand
		,ts.manufactoryphone
		,ts.manudate
		,ts.manuno
		,ts.remark
		,ts.avilabletime 
		 ,ts.leftsamplequality 
		 ,ts.expireddate 
		,ts.price
		,ts.externprice
		,ts.processid,ts.processtype,ts.testtypeother
		,ts.testtypeid,ts.testtype,ts.processother
		,ts.storeid,ts.storename,ts.storetempurature,ts.storeother
		,ts.statusid,ts.statustype,ts.statusother
		,ts.wrapherproperties
		,ts.executestandard,ts.executegrade
		,ts.testproject stestproject
		,ts.methodname smethodname 
	  ,tp.id tpid  
		,tp.qualificationid
		,tp.outsitecustomerid
		,tp.realprice
		,tp.isextern tpisextern
		,tp.limitmax
		,tp.limitmin
		,tp.limitvalue
		,tp.judgementstandard
		,tp.testcount
	  ,tc.testproject
	  ,tm.methodname
		,tqr.roleid
		,tqr.userid
	from t_business_project t 
	left join t_business_project_dispatch td
	on td.projectid=t.projectid 
	left join t_sample_domain tsd
	on tsd.id=t.domainid
	left join (
	  select
		ts.sampleid 
		,ts.projectid
		,ts.wrapherproperties
		,ts.standardfee
		,ts.deleverdate
		,ts.specialcondition
		,samplename
		,samplenumber 
		,samplequality
		,samplespec
		,samplevolume 
		,sampledate
		,tp.customername manufactory
		,tp.customeraddress manufactoryaddress
		,purty
		,brand
		,tp.phone manufactoryphone
		,manudate
		,manuno
		,ts.remark
		,avilabletime 
		 ,leftsamplequality 
		 ,expireddate 
		,price
		,tm.testproject
		,tm.methodname
		,externprice
	  ,ts.testtypeid
	  ,t.testtype
	  ,ts.testtypeother
		,ts.storeid,tstore.storetempurature
		, tstore.storename,ts.storeother
		 ,ts.processid
		 ,  tprocess.sampleprocess   processtype
		 ,ts.processother
			,ts.statusid 
			, tsttus.statustype  statustype
			,ts.statusother
		  ,ts.executestandard
			,ts.executegrade
		 from t_sample ts
		 left join 
		 (
		    select tproject.projectid, tcu.customername,tcu.customeraddress,tcu.phone from t_contact_customer tc 
				 inner join t_customer tcu
				 on tcu.id=tc.customerid
				 inner join t_business_project tproject
				 on tproject.contactid=tc.contactid
				where customertype=3
				
		 ) tp
		 on tp.projectid=ts.projectid
		 left join
		 (
		  select
			 t.sampleid,
			GROUP_CONCAT(tc.testproject) testproject,
			GROUP_CONCAT(tstand.standardname) methodname
			from t_test_project t
			inner join t_qualification tq
			on tq.id=t.qualificationid
			inner join t_test_category tc
			on tc.id=tq.testprojectid
			left join t_test_standard tstand
	         on tstand.id=tq.standardid
			group by  t.sampleid
		 ) tm
		 on   tm.sampleid=ts.sampleid
		 left join t_test_type t
		 on t.id=ts.testtypeid
		 left join t_sapmple_store_type tstore
		 on tstore.id=ts.storeid
		 left join t_sample_process_type tprocess
		 on tprocess.id=ts.processid
		 left join t_sapmle_status_type tsttus
		 on tsttus.id=ts.statusid
	 ) ts
	on ts.projectid=t.projectid  
	left join t_test_project tp
	on tp.sampleid=ts.sampleid
	left join t_qualification tqf
	on tqf.id=tp.qualificationid
	left join t_qualification_company company
	on company.id=tqf.companyid
	left join 
						( 
					 select 
					 tq.qualificationid,roleid,userid
					 from
					 (
				   select qualificationid from  t_qualificaiton_dispatch group by qualificationid
					 ) tq
				  left join
					(
					select t.qualificationid,t.typeid roleid  from t_qualificaiton_dispatch t
					where t.datatype=1
					) tqr
				   on tqr.qualificationid=tq.qualificationid
					  left join
					(
					select t.qualificationid,t.typeid userid  from t_qualificaiton_dispatch t
					where t.datatype=2
					) tqu
				   on tqu.qualificationid=tq.qualificationid 
					)tqr
				  on tqr.qualificationid=tqf.id
	left join t_test_category tc
	on tc.id=tqf.testprojectid
	left join t_test_method tm
	on tm.id=tqf.methodid
	left join t_test_standard tstand
	on tstand.id=tqf.standardid
		 where  t.projectid=#{id} and  t.projectstatus !=-1
		
    </select>
     <insert id="addcontactprojectinfos" parameterType="java.util.ArrayList">
        insert t_business_project_dispatch(
		     projectid 
			,dispatchtime
			,dispatchroleid
			,dispatchuserid 
		)values
		<foreach collection="list" index="index" separator="," item="item">
		(
		 #{item.id}
		,#{item.dispatchtime}
		,#{item.dispatchroleid} 
		,#{item.dispatchuserid}  
		) 
		 </foreach>
    </insert>
    <insert id="addcontactprojects" parameterType="java.util.ArrayList">
        insert t_business_project(
		   contactid
			,projectid
			,projectnumber 
			,reportcount 
			,domainid 
			,projectstatus 
		)values
		<foreach collection="list" index="index" separator="," item="item">
		(
		 #{item.contactid}
		,#{item.id}
		,#{item.projectnumber} 
		,#{item.reportcount} 
		,#{item.domain.id} 
		,0 
		) 
		 </foreach>
    </insert>
    <update id="updatecontactproject" parameterType="com.bjdfzh.businessprocess.entity.ContactProject">
        update t_business_project 
        set
		contactid =#{contactid}
		,projectnumber=#{projectnumber} 
		,reportcount=#{reportcount} 
		,domainid=#{domain.id}  
		 where projectid=#{id} 
    </update>
    <update id="updatelimitvalue" parameterType="list">
            update t_test_project
            <trim prefix="set" suffixOverrides=",">
             <trim prefix="limitvalue =case" suffix="end,">
                 <foreach collection="list" item="i" index="index">
                         <if test="i.id!=null">
                          when id=#{i.id} then #{i.limitvalue}
                         </if>
                         </foreach>
                         </trim>
                         <trim prefix="judgementstandard =case" suffix="end,">
                 <foreach collection="list" item="i" index="index">
                         <if test="i.id!=null">
                          when id=#{i.id} then #{i.judgementstandard}
                         </if>
                         </foreach>
                         </trim>   
                         </trim>
                          where
			            <foreach collection="list" separator="or" item="i" index="index" >
			              id=#{i.id}
			          </foreach> 
     </update>
    <delete id="deletecustomer"  parameterType="string">
     delete from  t_business_project_customer t where  projectid=#{id}
    </delete>
    <delete id="deleteproject"  parameterType="string">
    delete from  t_business_project t where  projectid=#{id}
    </delete>
    <delete id="deletecontacttestbyproject" parameterType="string">
     delete from t_test_project t where
		exists
		(
		  select 1 from
			(
		  select sampleid from t_sample t3
			where  t3.projectid=#{id}
			) t4
			where t4.sampleid=t.sampleid
		)
     </delete>
    <delete id="deletesamplebyproject" parameterType="string">
     delete from t_sample where projectid=#{id}
    </delete>
    <delete id="deletesamplebyprojectinfos" parameterType="string">
     delete from t_business_project_dispatch where projectid in(${ids})
    </delete>
</mapper>