<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjdfzh.businessprocess.dao.TestMethodMapper">
<resultMap type="com.bjdfzh.businessprocess.entity.TestMethod" id="TestMethodMap">
<id column="id" property="id"/>
<result column="methodname" property="methodname" /> 
<result column="remark" property="remark" /> 
</resultMap>

    <select id="getTestMethods" parameterType="string" resultMap="TestMethodMap">
        select id,methodname,remark from t_test_method 
    </select>
   <insert id="addTestMethod" 
               parameterType="com.bjdfzh.businessprocess.entity.TestMethod"
              useGeneratedKeys="true" keyProperty="id">
     insert into t_test_method( 
							 methodname 
							     )
							    values
							    (
							      #{methodname}
							    )
   </insert>
</mapper>