<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjdfzh.businessprocess.dao.TestProjectMapper">
<resultMap type="com.bjdfzh.businessprocess.entity.TestProject" id="TestProjectMap">
<id column="id" property="id"/>
<result column="testproject" property="label" />
<result column="pid" property="pid" /> 
<result column="level" property="level" /> 
</resultMap>

    <select id="gettestprojects" parameterType="string" resultMap="TestProjectMap">
        select id,testproject,pid,level from t_test_category where isextern=0 
    </select>
      <select id="gettestprojectbyname" parameterType="string" resultMap="TestProjectMap">
        select id,testproject,pid,level from t_test_category where testproject=replace(#{name},' ','') and pid=#{pid} limit 1
    </select>
    
   <insert id="addtestProject" 
               parameterType="com.bjdfzh.businessprocess.entity.TestProject"
              useGeneratedKeys="true" keyProperty="id">
     insert into t_test_category( 
							testproject
							,pid
							,level
							     )
							    values
							    (
							      replace(#{label},' ',''),#{pid},#{level}
							    )
   </insert>
     <insert id="addtestProjectextern" 
               parameterType="com.bjdfzh.businessprocess.entity.TestProject"
              useGeneratedKeys="true" keyProperty="id">
     insert into t_test_category( 
							testproject
							,pid
							,level
							,isextern
							     )
							    values
							    (
							      replace(#{label},' ',''),#{pid},#{level},1
							    )
   </insert>
   <update id="updatetestproject" parameterType="com.bjdfzh.businessprocess.entity.TestProject">
      update t_test_category
      set
         testproject=#{label}
        where id=#{id}
    </update>
</mapper>