<x-dialog #dialogcustomer  width="70%" height="80%" [(visible)]="visible"   
[showConfirm]="false" [showCancel]="false" placement="top" [backdropClose]="false" [hasBackdrop]="false">
    <app-addbusinessproject #addbusiness [currentproject]="currentproject" style="width:100%;height:100%" (projectchange)="projectchange($event)"></app-addbusinessproject>
</x-dialog>
<x-row>
    <x-col span=6 > 
        <x-button   icon="fto-plus" plain  [disabled]="!auth['add'] || disabled" (click)="!disabled&&auth['add'] && action('add')" >
           新增   
        </x-button> 
    </x-col>
    <x-col span=5 > 
        <x-button   icon="fto-plus" plain  [disabled]="!auth['add']|| disabled" (click)=" !disabled&&auth['add'] && copayaction('add')" >
           复制新增   
        </x-button> 
    </x-col>
</x-row>
<x-row> 
    <x-col>
    <x-table
        #projectlist
        [data]="data"
        [columns]="columns" 
        [(index)]="index"
        [(size)]="size"
        [total]="total"  
        [query]="query"
        [adaptionHeight]="124"
        [bodyColumnTpl]="{ actions: contactTpl }"
        virtualScroll
        (activatedRowChange)="activechange($event)" 
        (indexChange)="IndexChange($event)"
        loading 
        >
      </x-table>
    </x-col>
</x-row> 
<ng-template #contactTpl let-column="$column" let-row="$row">
    <div class="au-table-actions"> 
        <x-link [disabled]="!auth['info']" icon="fto-eye" (click)="auth['info'] && action('info', row)" title="查看"></x-link>
        <x-link [disabled]="!auth['edit']||disabled" icon="fto-edit" (click)="!disabled&&auth['edit'] && action('edit', row)" title="修改"></x-link>
        <x-link [disabled]="!auth['delete']||disabled" icon="fto-trash-2" (click)="!disabled&&auth['delete'] && action('delete', row)" title="删除"></x-link> 
       
    </div>
  </ng-template>
