web/node_modules/
web/dist/
deploy/
*.jar
*.zip
*.rar
*.class
/.metadata/
java/businessprocess/target/
java/collectionreceiveprocess/target/
java/flownotify/target/
java/flowprocess/target/
java/web/target/
java/userprivilage/target/
java/util/target/
