<x-dialog #dialogqulification width="80%" height="50%" placement="top"   [(visible)]="qvisible"  
(confirm)="quaconfirm()" [backdropClose]="false" [hasBackdrop]="false"
 > 
  <app-qualification #selqual [modify]=1 [inputtestcount]="inputtestcount" [tablespan]=15 [treespan]=5 style="width:100%;height:100%" ></app-qualification>
</x-dialog>
<x-inner class="au-inner">
    <div class="au-panel au-tree-left" [x-loading]="treeLoading" style="width: 22rem;">
        <h4>
          <span>价格树</span>
          <x-link icon="fto-plus" title="增加根节点" (click)="treeaction('add-root', selected)"></x-link>
        </h4>
        <x-tree
          #treeCom
          au-adaption
          [outerHeight]="131"
          [data]="treeData"
          expandedLevel="0"
          [activatedId]="activatedId"
          [nodeHeight]="1.875"
          [actions]="treeActions"
          (activatedChange)="treeaction('edit', $event)"
        >
        </x-tree>
      </div>
    <div class="au-table-right"  >
      <x-row>
      <au-tool top >
        <x-row>
          <x-col span=4>
            <x-button type="primary" icon="fto-plus" [disabled]="!auth['add']||disabled" plain (click)="!disabled&&auth['add'] && action('add')">添加项目</x-button>
          </x-col>
          <x-col span=4>
            <x-button type="primary" icon="fto-save" [disabled]="!auth['add']||disabled||invalidsave" plain (click)="!invalidsave&&!disabled&&auth['add'] && treeaction('save', selected)">保存</x-button> 
          </x-col>
          <x-col span=4>
            <div  [style.display]="invalidvisible" style="color: crimson;font-size: 10pt;" >{{invalidstring}}</div> 
          </x-col>
        </x-row> 
     </au-tool> 
    </x-row>
    <x-row style="height: 20px;"></x-row>
    <x-row>
      <x-col span=4>
        <x-input    label="名称" [readonly]="disabled" direction="row" [(ngModel)]="currentNode.label"  ></x-input>
      </x-col>
      <x-col span=4>
        <x-input label="公式" [readonly]="disabled" direction="row" [(ngModel)]="currentNode.formular" ></x-input> 
      </x-col>
      <x-col span=4>
        <x-input label="最高限价" [readonly]="disabled" direction="row" [(ngModel)]="currentNode.limitprice" ></x-input> 
      </x-col>
    </x-row> 
    <x-row style="height: 20px;"></x-row>
    <x-row>
      <x-col span=5>
        <x-input    label="每减少一项少" [readonly]="disabled" direction="row" [(ngModel)]="currentNode.perdecreace"  ></x-input></x-col><x-col span=1>元
      </x-col>
      <x-col span=5>
        <x-input label="最小项目数" [readonly]="disabled" direction="row" [(ngModel)]="currentNode.mincount" ></x-input> 
      </x-col> 
    </x-row>
    <x-row style="height: 20px;"></x-row>
    <x-row>
      <x-col span=20>
      <x-table
        #tableCom
        [columns]="columns"
        [rowHeight]="35"
        [data]="data"
        [total]="total"
        [size]="20"
        [(index)]="index"
        [query]="query"
        [bodyHeight]="100"
        [bodyColumnTpl]="{ actions: actionsTpl}" 
        [adaptionHeight]="138"
        (activatedRowChange)="tablerowchange($event)"
        virtualScroll
        loading
      ></x-table>
    </x-col>
    <x-col span=4>
      <h4>
        <span>选择例外</span>
      </h4>
      <div style="overflow: scroll;height: 670px;">  
     <x-row *ngFor="let v of selquali">
      <x-col span=15>{{v.testprojectname}}</x-col>
      <x-col span=7>
         <x-input [(ngModel)]="v.exceptionprice"></x-input>  
      </x-col>
      <x-col span=2><x-link  icon="ado-close" title="删除" style="color: red;" (click)="delsel(v)"></x-link></x-col>
    </x-row> 
  </div>   
    </x-col>
    </x-row>
    </div>
  </x-inner>
  
  <ng-template #actionsTpl let-column="$column" let-row="$row">
    <div class="au-table-actions"> 
      <x-link [disabled]="!auth['delete']||disabled" icon="fto-trash-2" (click)="!disabled&&auth['delete'] && action('delete', row)" title="删除"></x-link>
    </div>
  </ng-template>
  <ng-template #selTpl let-column="$column" let-row="$row">
    <div class="au-table-actions"> 
      <x-checkbox  [disabled]="disabled" [data]="[{ label: '', value: true }]" [ngModel]="row.sel"  (ngModelChange)="!disabled&&checkedrow(row)"></x-checkbox>
    </div>
  </ng-template>
<!--<table border=1 style="border-style:solid;border-collapse: collapse;width:100%">
  <ng-container *ngFor="let a of tadata; let i = index "> 
    <ng-container *ngFor="let b of a.b; let q=index">
      <ng-container *ngFor="let d of b.d; let p=index">
        <tr>
          <td  rowspan="6">{{a.a}}</td>
          <td rowspan="3" >{{b.c}}</td>
          <td   >{{d.e}}</td>
        </tr>
        </ng-container>
    </ng-container>
  </ng-container>
</table>-->