<x-dialog #dialogmodifyquali  width="40%" height="40%" [(visible)]="modifyvisible"   
  placement="top" (confirm)="modifyconfirm()" [backdropClose]="false" [hasBackdrop]="false">
    <app-updatesample style="width:100%;height: 100%;" #modifisample></app-updatesample>
</x-dialog>
<div style="overflow: auto;"> 
   <x-row style="height: 15px;"></x-row>
<x-row>
   <x-col span=2> <x-button icon="ado-check" type="primary" plain (click)="submit()">提交</x-button></x-col>
   <x-col span=2> <x-button icon="ado-save" type="primary" plain (click)="save()">保存</x-button></x-col>
   <x-col span=2> <x-button icon="ado-save" type="primary" plain (click)="genu()">生成附页</x-button></x-col>
</x-row>
<x-row style="height: 20px;"></x-row>
        <x-row>
          <x-col span=12>委托客户:{{delegatecustomer}}</x-col><x-col span=6>付款客户:{{paycustomer}}</x-col><x-col span=6>受检客户:{{testcustomer}}</x-col>
        </x-row>
        <x-row style="height: 20px;"></x-row>
        <x-row>
        <x-col span=4>样品来源:{{samplesource}}</x-col>
        <x-col span=4>是否判定:{{ispanding}}</x-col>
        <x-col span=4>资质盖章:{{seal}}</x-col>
        <x-col span=4>服务类型:{{servicetype}}</x-col>
        </x-row> 
<x-row style="height: 30px;"></x-row>
<x-row>    
  <x-col span=5>
   <div style="overflow:scroll;height: 680px;"> 
      <h4>项目</h4>
      <x-tree
        #treeCom
        au-adaption 
        [data]="projects" 
        [nodeHeight]="1.875"
        (activatedChange)="action($event)"
      >
      </x-tree>
     </div>
  </x-col>
  <x-col span=19>
    <x-table
    #projectlist
    [data]="sampledata"
    [columns]="columns" 
    [(index)]="index"
    [(size)]="size"
    [total]="total"  
    [query]="query"
    [adaptionHeight]="240"
    [bodyColumnTpl]="{ actions: contactTpl }"
    [headColumnTpl]="{actions: headerTpl}" 
    virtualScroll
    (activatedRowChange)="activechange($event)" 
    (indexChange)="IndexChange($event)"
    loading 
    >
  </x-table>
  </x-col>
</x-row>
</div>
<div style="display: none;"> 
  <app-outputadditionallist style="height:100%;width:100%" #printtable id="printtable"></app-outputadditionallist>
</div>
<ng-template #contactTpl let-column="$column" let-row="$row">
  <div class="au-table-actions">  
      <x-link   icon="fto-edit" (click)="projectclick(row)" title="修改"></x-link>  
  </div> 
</ng-template>
<ng-template #headerTpl let-column="$column" >
  <div class="au-table-actions">  
      <x-button  icon="far-copy" (click)="copydata()" label="复制"  style="width:80" ></x-button>  
  </div> 
</ng-template>
